seed.ts
.pnpm-store


# Do not track .env files and variants
.*env*
# Only track .env.sample
!.env.sample

dev.db*
shell.nix*
node_modules
dist
dist-ssr
dist-extension
dist-web
*.xpi
*.local
sessions
.pnpm-store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Monorepo
/builds
.nx/cache
# This helps the cache to build faster, we'll disable it until we can test it properly on CI
.nx/workspace-data