---
resources:
  domains:
    # In CloudFlare, the TLD is implied by the zone, so we must define only the more specific parts of the domains
    backend: send-backend
    frontend: send

  vars:
    frontend-csp-header: "default-src 'self'; script-src 'self' blob: https://us-assets.i.posthog.com; worker-src 'self' blob:; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; img-src 'self' https: data:; font-src 'self' data: https://fonts.gstatic.com; object-src 'none'; frame-ancestors 'none'; connect-src 'self' https://send-backend.tb.pro/ wss://send-backend.tb.pro/ https://us-assets.i.posthog.com https://*.backblazeb2.com https://*.sentry.io https://*.posthog.com/* https://us.i.posthog.com https://auth.tb.pro/"

  tb:network:MultiCidrVpc:
    vpc:
      cidr_block: 10.30.0.0/16 # Very roomy total of 65,536 available IPs
      subnets:
        # Split into two subnets with exactly half the IPs (32,768) each
        eu-central-1a:
          - 10.30.0.0/17
        eu-central-1b:
          - 10.30.128.0/17
      egress_via_internet_gateway: True
      enable_dns_hostnames: True
      enable_internet_gateway: True
      endpoint_interfaces:
        - ecr.api
        - ecr.dkr
        - logs
        - secretsmanager
        - ssm
      endpoint_gateways:
        - s3

  tb:network:SecurityGroupWithRules:
    backend-lb:
      rules:
        ingress:
          - cidr_blocks: ["0.0.0.0/0"]
            description: TLS port for the load balancer
            protocol: tcp
            from_port: 443
            to_port: 443
        egress:
          - cidr_blocks: ["0.0.0.0/0"]
            description: Outbound traffic
            protocol: tcp
            from_port: 0
            to_port: 65535
    backend-container:
      rules:
        ingress:
          - description: Private backend port
            protocol: tcp
            from_port: 8080
            to_port: 8080
        egress:
          - cidr_blocks: ["0.0.0.0/0"]
            description: Outbound traffic
            protocol: tcp
            from_port: 0
            to_port: 65535

  tb:secrets:PulumiSecretsManager:
    pulumi:
      secret_names:
        - b2-application-key-id
        - b2-application-key
        - database-url
        - fxa-allow-list
        - fxa-client-id
        - fxa-client-secret
        - jwt-access-token-secret
        - jwt-refresh-token-secret
        - posthog-api-key
        - sentry-auth-token
        - oidc-client-id
        - oidc-client-secret
        - oidc-token-introspection-url

  tb:fargate:FargateClusterWithLogging:
    backend:
      desired_count: 2
      assign_public_ip: True
      ecr_resources:
        - arn:aws:ecr:us-east-1:768512802988:repository/send*
      health_check_grace_period_seconds: 60
      internal: False
      services:
        send-suite:
          listener_port: 443
          listener_proto: HTTPS
          listener_cert_arn: arn:aws:acm:eu-central-1:768512802988:certificate/66f96bed-d587-467e-bbe3-56d3d2a8606c
          container_port: 8080
          container_name: backend
          # "name" field is arbitrary, but must be unique and no longer than 32 chars
          name: send-suite-prod-api
          health_check:
            healthy_threshold: 2
            unhealthy_threshold: 5
            interval: 15
      task_definition:
        network_mode: awsvpc
        cpu: 1024
        memory: 4096
        requires_compatibilities:
          - FARGATE
        container_definitions:
          backend:
            image: 768512802988.dkr.ecr.us-east-1.amazonaws.com/send:5.0.3
            portMappings:
              - name: send-suite
                containerPort: 8080
                hostPort: 8080
                protocol: tcp
                appProtocol: http
              - name: prisma
                containerPort: 5555
                hostPort: 5555
                protocol: tcp
                appProtocol: http
            linuxParameters:
              initProcessEnabled: True
            secrets:
              - name: B2_APPLICATION_KEY
                valueFrom: arn:aws:secretsmanager:eu-central-1:768512802988:secret:send-suite/prod/b2-application-key-eYorqq
              - name: B2_APPLICATION_KEY_ID
                valueFrom: arn:aws:secretsmanager:eu-central-1:768512802988:secret:send-suite/prod/b2-application-key-id-IQl58V
              - name: DATABASE_URL
                valueFrom: arn:aws:secretsmanager:eu-central-1:768512802988:secret:send-suite/prod/database-url-a53Vqt
              - name: FXA_ALLOW_LIST
                valueFrom: arn:aws:secretsmanager:eu-central-1:768512802988:secret:send-suite/prod/fxa-allow-list-THXxQZ
              - name: FXA_CLIENT_ID
                valueFrom: arn:aws:secretsmanager:eu-central-1:768512802988:secret:send-suite/prod/fxa-client-id-vAhXfg
              - name: FXA_CLIENT_SECRET
                valueFrom: arn:aws:secretsmanager:eu-central-1:768512802988:secret:send-suite/prod/fxa-client-secret-KI0EPu
              - name: POSTHOG_API_KEY
                valueFrom: arn:aws:secretsmanager:eu-central-1:768512802988:secret:send-suite/prod/posthog-api-key-lVtOJy
              - name: SENTRY_AUTH_TOKEN
                valueFrom: arn:aws:secretsmanager:eu-central-1:768512802988:secret:send-suite/prod/sentry-auth-token-ve7NNe
              - name: ACCESS_TOKEN_SECRET
                valueFrom: arn:aws:secretsmanager:eu-central-1:768512802988:secret:send-suite/prod/jwt-access-token-secret-CKmhxv
              - name: REFRESH_TOKEN_SECRET
                valueFrom: arn:aws:secretsmanager:eu-central-1:768512802988:secret:send-suite/prod/jwt-refresh-token-secret-y5R79H
              - name: OIDC_CLIENT_ID
                valueFrom: arn:aws:secretsmanager:eu-central-1:768512802988:secret:send-suite/prod/oidc-client-id-vOITHC
              - name: OIDC_CLIENT_SECRET
                valueFrom: arn:aws:secretsmanager:eu-central-1:768512802988:secret:send-suite/prod/oidc-client-secret-6dVOrL
              - name: OIDC_TOKEN_INTROSPECTION_URL
                valueFrom: arn:aws:secretsmanager:eu-central-1:768512802988:secret:send-suite/prod/oidc-token-introspection-url-ZSIjGB
            environment:
              - name: B2_BUCKET_NAME
                value: tb-send-suite-prod-object-store-eu-central-1
              - name: B2_ENDPOINT
                value: https://s3.eu-central-003.backblazeb2.com 
              - name: B2_REGION
                value: auto
              - name: BASE_URL
                value: https://send-backend.tb.pro/
              - name: COMBINED_LOG
                value: logs/combined.log
              - name: DEVELOPER_TIMEZONE
                value: US/Eastern
              - name: DATABASE_ENGINE
                value: postgres
              - name: DATABASE_USER
                value: sendapp
              - name: FS_LOCAL_BUCKET
                value: send-fs-local
              - name: FXA_ENTRYPOINT
                value: tblockbox
              - name: FXA_METRICS_FLOW_URL
                value: https://accounts.firefox.com/metrics-flow
              - name: FXA_MOZ_ISSUER
                value: https://accounts.firefox.com
              - name: FXA_REDIRECT_URI
                value: https://send-backend.tb.pro/fxa
              - name: NODE_ENV
                value: production
              - name: POSTHOG_HOST
                value: https://us.i.posthog.com
              - name: SEND_BACKEND_CORS_ORIGINS
                value: https://send.tb.pro
              - name: SENTRY_DSN
                value: https://85b7b08be94b8991ed121578d807f755@o4505428107853824.ingest.us.sentry.io/4507567071232000
              - name: SENTRY_ORG
                value: thunderbird
              - name: SENTRY_PROJECT
                value: send-suite-backend
              - name: STORAGE_BACKEND
                value: b2

  tb:autoscale:EcsServiceAutoscaler:
    backend:
      cpu_threshold: 80
      ram_threshold: 80
      cooldown: 180
      disable_scale_in: False
      min_capacity: 2
      max_capacity: 4
      suspend: False

  tb:cloudfront:CloudFrontS3Service:
    frontend:
      service_bucket_name: tb-send-suite-prod-frontend
      certificate_arn: arn:aws:acm:us-east-1:768512802988:certificate/b5b36587-83f9-457b-bdb3-ac9ed2c58cec
      distribution:
        aliases:
          - send.tb.pro
        comment: send-suite prod frontend
        logging_config:
          include_cookies: True

  tb:cloudwatch:CloudWatchMonitoringGroup:
    alarms: {}
    notify_emails:
      - rjung+cloudwatch@thunderbird.net
    # alarms:
    #   send-suite-prod-fargate-service:
    #     cpu_utilization:
    #       enabled: False
    #       threshold: 80

  tb:ci:AwsAutomationUser:
    ci:
      access_keys: {}
      enable_legacy_access_key: True
      additional_policies:
        - arn:aws:iam::768512802988:policy/send-suite-prod-frontend-cache-invalidation
      enable_ecr_image_push: true
      ecr_repositories:
        - send
      enable_fargate_deployments: true
      fargate_clusters:
        - send-suite-prod-fargate
      fargate_task_role_arns:
        - arn:aws:iam::768512802988:role/send-suite-prod-fargate
      enable_full_s3_access: false
      enable_s3_bucket_upload: true
      s3_upload_buckets:
        - tb-send-suite-prod-frontend
