---
name: deploy-production

concurrency:
  group: deploy-production
  cancel-in-progress: true

on:
  release:
    types:
      - published

permissions:
  packages: read
  contents: read

jobs:
  deploy-backend:
    environment: send-prod
    runs-on: ubuntu-latest
    container:
        image: ghcr.io/${{ github.repository }}/cached-devcontainer:latest
    env:
      IS_CI_AUTOMATION: "yes"
    steps:
      - name: Check out the code
        if: contains(github.event.release.assets.*.name, 'ecr_tag.zip')
        uses: actions/checkout@v4

      - name: Download ECR tag artifact
        if: contains(github.event.release.assets.*.name, 'ecr_tag.zip')
        uses: dsaltares/fetch-gh-release-asset@master
        with:
          version: ${{ github.event.release.id }}
          file: ecr_tag.zip

      - name: Configure AWS credentials
        if: contains(github.event.release.assets.*.name, 'ecr_tag.zip')
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: us-east-1
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Login to Amazon ECR
        id: login-ecr
        if: contains(github.event.release.assets.*.name, 'ecr_tag.zip')
        uses: aws-actions/amazon-ecr-login@v2
        with:
          mask-password: "true"

      - name: Retag image
        if: contains(github.event.release.assets.*.name, 'ecr_tag.zip')
        id: retag-image
        run: |
          # Gather info
          unzip ecr_tag.zip  # Produces ecr_tag.txt
          source_tag=$(cat ecr_tag.txt)
          cd packages/send/backend
          semver=$(jq -r .version < package.json)
          target_tag="${{ steps.login-ecr.outputs.registry }}/${{ vars.PROJECT }}:$semver"

          # Output the target tag
          echo "target_tag=$target_tag" >> $GITHUB_OUTPUT

          # Retag the image and push it
          docker pull $source_tag
          docker tag $source_tag $target_tag
          docker push $target_tag

      - name: Configure AWS credentials
        if: contains(github.event.release.assets.*.name, 'ecr_tag.zip')
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: eu-central-1
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Deploy version-tagged image to prod
        if: contains(github.event.release.assets.*.name, 'ecr_tag.zip')
        env:
          PULUMI_ACCESS_TOKEN: "${{ secrets.PULUMI_ACCESS_TOKEN }}"
        run: |
          # Update the PATH to include the right version of Pulumi; this is non-trivial or impossible
          # to do with the GHA workflow "env" settings.
          export PATH="/home/runner/.pulumi/bin:$PATH"

          # Pull the versioned tag from the previous step
          target_tag="${{ steps.retag-image.outputs.target_tag }}"

          # Create a YAML config stump containing only the nested tree leading to the image tag update
          cd packages/send/pulumi
          cat << EOF > newimage.yaml
          resources:
            tb:fargate:FargateClusterWithLogging:
              backend:
                task_definition:
                  container_definitions:
                    backend:
                      image: "$target_tag"
          EOF

          # Use yq to merge the stump into the main config
          yq -i '. *= load("newimage.yaml")' config.prod.yaml
          export PULUMI_CONFIG_PASSPHRASE='${{ secrets.PULUMI_PASSPHRASE_PROD }}'

          # update the service
          pulumi login
          pulumi stack select prod
          TBPULUMI_DISABLE_PROTECTION=True \
            pulumi up -y --diff --target \
            'urn:pulumi:prod::send-suite::tb:fargate:FargateClusterWithLogging$aws:ecs/taskDefinition:TaskDefinition::send-suite-prod-fargate-taskdef' \
            --target-dependents

  deploy-frontend:
    environment: send-prod
    runs-on: ubuntu-latest
    container:
        image: ghcr.io/${{ github.repository }}/cached-devcontainer:latest
    env:
      IS_CI_AUTOMATION: "yes"
    steps:
      - name: Download frontend source
        if: contains(github.event.release.assets.*.name, 'dist-web-prod.zip')
        uses: dsaltares/fetch-gh-release-asset@master
        with:
          version: ${{ github.event.release.id }}
          file: dist-web-prod.zip

      - name: Configure AWS credentials
        if: contains(github.event.release.assets.*.name, 'dist-web-prod.zip')
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: eu-central-1
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Deploy to production
        if: contains(github.event.release.assets.*.name, 'dist-web-prod.zip')
        id: frontend-deploy
        run: |
          unzip -d frontend-source dist-web-prod.zip
          cd frontend-source
          aws s3 cp . s3://tb-send-suite-prod-frontend/ --recursive

          # Invalidate the CDN
          aws cloudfront create-invalidation --distribution-id ${{ vars.PROD_CF_DISTRO_ID }} --paths "/*"

  deploy-xpi-prod:
    runs-on: ubuntu-latest
    container:
        image: ghcr.io/${{ github.repository }}/cached-devcontainer:latest
    env:
      IS_CI_AUTOMATION: "yes"
    steps:
      - name: Check out the code
        if: contains(github.event.release.assets.*.name, 'xpi-prod.zip')
        uses: actions/checkout@v4

      - name: Download XPI artifact
        id: xpi-download
        if: contains(github.event.release.assets.*.name, 'xpi-prod.zip')
        uses: dsaltares/fetch-gh-release-asset@master
        with:
          version: ${{ github.event.release.id }}
          file: xpi-prod.zip

      - name: Deploy to ATN
        continue-on-error: true
        if: contains(github.event.release.assets.*.name, 'xpi-prod.zip')
        id: xpi-deploy
        env:
          ATN_API_KEY: "${{ secrets.ATN_API_KEY }}"
          ATN_API_SECRET: "${{ secrets.ATN_API_SECRET }}"
          BASE_URL: https://send.tb.pro/
        run: |
          # Initial setup of dependencies
          mv xpi-prod.zip packages/send
          pnpm install --filter @thunderbird/tbpro-add-on && lerna run bootstrap
          pnpm install --filter tbpro-shared
          pnpm i --filter send-frontend
          cd packages/send
          unzip xpi-prod.zip
          rm -f xpi-prod.zip
          cd frontend
          pnpm deploy-xpi $(find .. -name 'send-suite-*.xpi')
